h1{
    color: red;
}
h2{
    color: yellow;
}
h3{
    color: green;
}
h4{
    color: blue;
}
h5{
    color: brown;
}
h6{
    color: black;
}
h5{
background-color: aquamarine;
}
# cambio-sfondo{
    background-color: blueviolet;
}