.calculator {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    width: 300px;
    margin: auto auto auto;
    

}

.display {
    grid-column: span 4;
    background-color: yellowgreen;
    color: red;
    font-size: 2px;
    padding: 10px;
    text-align: right;
    height: 200px;
}

.button {
    background-color: lightgray;
    border: 2px solid red;
    font-size: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.uguale {
    grid-row-end: span 2;
    background-color: bisque;
}

.button:hover {
    background-color: greenyellow;
}